@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-weight: 200;
  src: local('Plus Jakarta Sans'), url(./assets/fonts/PlusJakartaSans-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-weight: 300;
  src: local('Plus Jakarta Sans'), url(./assets/fonts/PlusJakartaSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  src: local('Plus Jakarta Sans'), url(./assets/fonts/PlusJakartaSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  src: local('Plus Jakarta Sans'), url(./assets/fonts/PlusJakartaSans-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  src: local('Plus Jakarta Sans'), url(./assets/fonts/PlusJakartaSans-Bold.woff2) format('woff2');
}

@tailwind utilities;